/* General */
body {
    padding-top: 70px;
}

.content .title {
    margin-bottom: 0.5em;
}
/* End General */
/* Nav */
.navbar-header {
    text-transform: capitalize;
}
.#nav li.hidden {
    display: none;
}
/* End Nav */
/* Page */
.page {
    display: none;
}
.page.active {
}
/* End Page */
/* Page Home */
.page#home {
/*     overflow: hidden; */
}
.page#home div {
/*     overflow: hidden; */
}
.page#home div.list {
    position: relative;
}
.page#home h2 {
    margin-top: 0;
    padding-bottom: 0.5em;
}
.page#home h3 {
    margin: 0;
    padding: 0.25em 0 0.25em 1em;
    outline: 0;
    font-weight: bold;
    color: #888888;
}
.page#home button.btn-lg {
    margin-top: 1.5em;
    padding: 6px 12px;
}
.page#home .btn-group {
    vertical-align: bottom;
}
/* Accordion */
.ui-accordion-content {
    padding: 0 0 0 2em;
}
.page#home #accordion_container {
    width: 50%;
    min-width: 500px;
    height: 300px;
}
.page#home .accordion div {
    overflow: auto !important;
    overflow-x: hidden !important;
}
.page#home .accordion .dropdown-menu {
    display: block;
    position: static;
}
.page#home .accordion .dropdown-menu>li {
    cursor: pointer;
}
.page#home .accordion .dropdown-menu>li>a.selected {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
}
.page#home .accordion .dropdown-menu>li>a label {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}
/* End Accordion */
/* End Page Home */
/* Map */
.page.map {
    width: 100%;
    max-width: 800px;
    margin: 1em auto;
    height: 500px;
    border: 1px solid black;
    background: gray;
}
/* End Map */